<footer class="bg-white box-shadow-1 mt-64">
  <div class="container p-32">
    <div>
      <p class="text-center fz-16 text-gray m-0">
        Dados Livres - 2019-2021
      </p>
      <p class="text-center fz-16 text-dark m-0">
        Originalizado no IFRN e desenvolvido carinhosamente no RN - Brasil 
      </p>
      <div class="d-flex justify-content-center gap-8">
        <a href="https://t.me/dadoslivres" target="_blank" class="link text-red">
          Nosso grupo no telegram
        </a>
        |
        <a href="#header" class="link text-red">
          Voltar para o topo ↑
        </a>
      </div>
    </div>
  </div>
</footer>