{% extends 'base.html' %}

{% block content %}
{% include 'components/header.html' %}

<main class="container py-80">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-5">
        <form class="bg-white rounded box-shadow-1 p-32 d-flex flex-column gap-32 border border-light">
        {{ form.csrf_token }}
        <div class="d-flex justify-content-center">
          <h1 class="text-dark fz-44 fw-regular">
            Meu perfil
          </h1> 
        </div>
        <div class="input-field-1">
          <div>
            <img src="{{ url_for('static', filename='img/svg/user.svg') }}" alt="">
            {{ form.username(onkeypress='formatUsername("#username")', disabled=True) }}
          </div>
        </div>
        <div class="input-field-1">
          <div>
            <img src="{{url_for('static', filename='img/svg/email.svg')}}" alt="">
            {{ form.email(disabled=True) }}
          </div>
        </div>
        <div class="d-flex flex-column gap-16">
          <div class="btn btn-dark d-flex align-items-center justify-content-center gap-8">
            <a href="{{ url_for('profile_edit') }}" class="fw-bold text-white text-decoration-none">
              Editar perfil
            </a>
            <img src="{{ url_for('static', filename='img/svg/edit.svg') }}" alt="">
          </div>
          
          <button type="button" class="btn d-flex gap-8 justify-content-center align-items-center pe-24" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <p class="link text-red fw-bold m-0">
              Deletar perfil
            </p>
            <img src="{{ url_for('static', filename='img/svg/trash.svg') }}" alt="">
          </button>

          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja excluir sua conta?</h5>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                  <a href="{{ url_for('profile_delete') }}" class="link text-red fw-bold">
                    Sim, exclua a minha conta.
                  </a>
                  <button type="button" class="btn btn-dark px-40" data-bs-dismiss="modal">
                    Cancelar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}